.container{
    height: 3000px;
}

body{
    background: url('./images/Background\ image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    }

#about-me {
    margin-left: 500px;
    margin-top: 200px;
    width: 100%;
    }
p{
    width: 100%;
    }

#safe-space,
#hook-up,
#weather
#scheduler{
    margin: 20px 5px 20px 5px;
    padding: 30px;
}

.col-sm-6{
    opacity: 0;
}
